.block {
    border: 1px solid black;
    border-radius: 15px;
    height: auto;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    cursor: pointer;


}

.text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.description {
    width: 100%;
    display: flex;
    align-items: center;

}

.image {
    height: 200px;
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
}


.fav {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.fav:hover {
    background-color: #fee2e2;
}

.fav svg {
    transition: all 0.2s ease-in-out;
    fill: transparent;
    stroke: #6b7280;
    stroke-width: 1.5;
}

.active {
    background-color: #fee2e2;
}

.active svg {
    fill: #ef4444;
    stroke: #ef4444;
    transform: scale(1.15);
}