.nav {
    width: 100%;
    height: 70px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.heart {
    cursor: pointer;

}

.useBlock {
    max-width: 550px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;

}

.userAvatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
}

.text {
    height: 40px;
    width: auto;
    font-size: 0.9em;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.text p {
    margin: 0;
    padding: 0;
}

.useBlock button {
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.3s;

}

.useBlock button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;

}